<!DOCTYPE html>
<html lang="bn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SurePay - Student Account</title>
    <link rel="icon" href="/public/images/locallogo.png" type="image/png">
    <link rel="shortcut icon" href="/public/images/locallogo.png" type="image/png">
    <link rel="stylesheet" href="/public/CSS/AllHeaderSyeles.css">
    <link rel="stylesheet" href="/public/CSS/student.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>
    <!-- Header -->
    <header class="header">
        <div class="logo-container">
            <a href="index.html">
                <span class="bangla-bkash">Surepay</span>
                <img src="/public/images/bkashlogo.png" alt="বিকাশ লোগো" class="logo">
            </a>
        </div>
    
        <nav class="nav">
            <a href="Campaigns.html" class="nav-item">ক্যাম্পেইন</a>
            <!-- <button class="nav-item dropdown" id="servicesButton">
                    সার্ভিসেস
                </button> -->
            <a href="business.html" class="nav-item">বিজনেস</a>
            <a href="help.html" class="nav-item dropdown">হেল্প</a>
            <a href="career.html" class="nav-item">ক্যারিয়ার</a>
            <a href="identity.html" class="nav-item">পরিচিতি</a>
            <a href="student.html" class="nav-item">স্টুডেন্ট</a>
            <!-- <button class="app-btn">SurePay অ্যাপ</button> -->
        </nav>

    <div class="right-nav">
            <span class="lang-btn">বাংলা</span>
        </div>
    </div>
    </header>


    <!-- Main Content -->
    <main class="main-content">
        <!-- Hero Section -->
        <section class="hero-section">
            <div class="container">
                <h1 class="main-title">SurePay স্টুডেন্ট একাউন্ট</h1>

                <a href="#" class="download-btn">ডাউনলোড করো</a>

                <!-- YouTube Video Section -->
                <div class="video-container">
                    <iframe width="100%" height="500" src="https://www.youtube.com/embed/VIDEO_ID" frameborder="0"
                        allowfullscreen></iframe>
                </div>

                <!-- Text Content -->
                <div class="content-text">
                    <p>জন্ম সনদ থাকলে সাথে, SurePay স্টুডেন্ট একাউন্ট খুলে ফেলো মিনিটেই, আর তোমার জন্য আছে ৬১০০ পর্যন্ত
                        ওয়েলকাম অফার!!</p>

                    <p>পেমেন্ট করতে চাও স্যাটেলাইট? রিচার্জ কিংবা নেট মানি – চাই তোমার সবই? একাউন্ট খুলতে চাও কিছু
                        এমআইডি নেই?</p>

                    <p>এখন দেশজুড়ে স্কুল-কলেজ পড়ুয়া শিক্ষার্থীদের জন্য SurePay নিয়ে এলো এক দারুণ খবর!</p>

                    <p>এখন থেকে তোমার মতো ১৪ থেকে ১৮ বছরের কম বয়সী প্রাপ্তরা SurePay স্টুডেন্ট একাউন্ট খুলতে পারবে একদম
                        সহজে! সাথে প্রয়োজন শুধু ডিজিটাল জন্ম সনদ আর মা/বাবার সচল SurePay নাম্বার!</p>

                    <p>শুধু তাই নয়, একাউন্ট খুললে SurePay অ্যাপে তোমার জন্য অপেক্ষা করছে ৬১০০ পর্যন্ত ওয়েলকাম অফার!</p>

                    <p>তাই দেরি কেন? আজই স্টুডেন্ট একাউন্ট SurePay-এ খুলে ফেলো!</p>
                </div>

                <!-- Warning Section -->
                <div class="warning-section">
                    <p class="warning-title"><i class="fas fa-exclamation-triangle"></i> SurePay স্টুডেন্ট একাউন্ট খোলার
                        সময় যে ৫টি বিষয় অবশ্যই খেয়াল রাখতে হবে</p>
                    <ol class="warning-list">
                        <li>১। জন্ম সনদের ছবি স্পষ্ট হতে হবে</li>
                        <li>২। জন্ম সনদের ছবি থেকে নাম, জন্ম তারিখ এবং জন্ম সনদ নাম্বার সংগ্রহ করবে, তা SurePay অ্যাপে
                            আলোভাবে মিলিয়ে নিতে হবে, প্রয়োজনে জন্ম সনদ অনুযায়ী পরিবর্তন করতে হবে</li>
                        <li>৩। অভিভাবক হিসেবে মা অথবা বাবা যাকে বেছে নেয়া হবে, তার নাম জন্ম সনদের সাথে মিলিয়ে নিতে
                            হবে, প্রয়োজনে জন্ম সনদ অনুযায়ী পরিবর্তন করতে হবে</li>
                        <li>৪। অভিভাবক হিসেবে মা অথবা বাবা যাকে বেছে নেয়া হবে, SurePay নাম্বারটি অবশ্যই তার নামে হতে হবে
                        </li>
                        <li>৫। নিজের চেহারার ছবি পর্যাপ্ত আলোর সামনে দাঁড়িয়ে এবং মানানসই ও শালীন পোশাক পরিহিত অবস্থায়
                            তুলতে হবে</li>
                    </ol>
                </div>

                <!-- Promo Image -->
                <div class="promo-image">
                    <img src="/public/images/student1.jpg" alt="বিকাশ স্টুডেন্ট প্রোমো">
                </div>

                <!-- Links Section -->
                <div class="links-section">
                    <a href="#" class="info-link">SurePay স্টুডেন্ট একাউন্টের শর্তাবলি >></a>
                    <a href="#" class="info-link">অফারের বিস্তারিত >></a>
                    <a href="#" class="info-link">SurePay স্টুডেন্ট একাউন্টের সাধারণ জিজ্ঞাসা >></a>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer -->
    <footer class="bkash-footer">
        <div class="footer-container">
            <!-- Logo and Description -->
            <div class="footer-logo-section">
                <div class="footer-logo">
                    <img src="/public/images/bkashlogo.png" alt="বিকাশ লোগো">SurePay
                </div>
                <p class="footer-tagline">
                    SurePay বাংলাদেশের মানুষকে মোবাইল ফোনের মাধ্যমে দ্রুত, নিরাপদে ও সহজে টাকা পাঠানো এবং পেমেন্ট সেবা
                    প্রদান করে
                </p>
            </div>

            <!-- App Download -->
            <!-- <div class="footer-app-download">
                <h3 class="footer-heading">SurePay অ্যাপ ডাউনলোড করুন</h3>
                <div class="app-store-buttons">
                    <a href="#" class="app-button">
                        <img src="/public/images/google-play.png" alt="Google Play">
                    </a>
                    <a href="#" class="app-button">
                        <img src="/public/images/app-store.png" alt="App Store">
                    </a>
                </div>
            </div> -->

            <!-- Footer Links -->
            <div class="footer-links-grid">
                <!-- Column 1: Services -->
                <div class="footer-links-column">
                    <h4 class="footer-column-title">সেবা</h4>
                    <ul class="footer-menu">
                        <li><a href="#">ক্যাশইন</a></li>
                        <li><a href="#">হেল্প</a></li>
                        <li><a href="#">কন্টেন্ট সেল</a></li>
                    </ul>
                </div>

                <!-- Column 2: Company -->
                <div class="footer-links-column">
                    <h4 class="footer-column-title">কোম্পানি</h4>
                    <ul class="footer-menu">
                        <li><a href="#">SurePay সম্পর্কে</a></li>
                        <li><a href="#">যোগাযোগ</a></li>
                        <li><a href="#">ক্যারিয়ার</a></li>
                    </ul>
                </div>

                <!-- Column 3: Banking -->
                <div class="footer-links-column">
                    <h4 class="footer-column-title">ব্যবসা</h4>
                    <ul class="footer-menu">
                        <li><a href="#">SurePay সাধারণ লোন</a></li>
                        <li><a href="#">SurePay মার্চেন্ট লোন</a></li>
                        <li><a href="#">ডিজিটাল বেতন</a></li>
                    </ul>
                </div>

                <!-- Column 4: Other -->
                <div class="footer-links-column">
                    <h4 class="footer-column-title">অন্যান্য</h4>
                    <ul class="footer-menu">
                        <li><a href="#">শর্তাবলি</a></li>
                        <li><a href="#">সাধারণ জিজ্ঞাসা</a></li>
                        <li><a href="#">নিরাপত্তা পরামর্শ</a></li>
                    </ul>
                </div>

                <!-- Column 5: Certifications -->
                <div class="footer-links-column">
                    <h4 class="footer-column-title">সিকিউরিটি ও কমপ্লায়েন্স সার্টিফিকেটসমূহ</h4>
                    <div class="certification-logos">
                        <!-- <img src="/public/images/certification1.png" alt="Certification 1">
                        <img src="/public/images/certification2.png" alt="Certification 2"> -->
                    </div>
                </div>
            </div>

            <!-- Copyright and Social -->
            <div class="footer-bottom">
                <div class="copyright-text">
                    © 2025 bKash, সর্বস্বত্ব সংরক্ষিত
                </div>
                <div class="social-icons">
                    <a href="#" class="social-icon facebook">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#" class="social-icon youtube">
                        <i class="fab fa-youtube"></i>
                    </a>
                    <a href="#" class="social-icon instagram">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="#" class="social-icon linkedin">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a href="#" class="social-icon twitter">
                        <i class="fab fa-twitter"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>

    <!-- Live Chat Button -->
    <a href="#" class="live-chat">
        <i class="far fa-comment-dots"></i>
        <span>লাইভ চ্যাট</span>
    </a>

    <!-- Terms and Conditions Popup HTML -->
    <div id="terms-popup" class="popup-container">
        <div class="popup-content">
            <div class="popup-header">
                <h2>SurePay স্টুডেন্ট একাউন্ট - শর্তাবলি</h2>
                <button class="popup-close" id="popup-close">&times;</button>
            </div>
            <div class="popup-body">
                <div class="terms-content">
                    <h3>শর্তাবলি</h3>
    
                    <p>SurePay লিমিটেড (পরবর্তীতে "SurePay" নামে উল্লিখিত)-এর মোবাইল ফাইন্যান্সিয়াল সার্ভিস ("SurePay সেবা")
                        গ্রহণকারী SurePay গ্রাহক নামে পরিচিত হবেন এবং একমাত্র উক্ত গ্রাহকই মোবাইল ফাইন্যান্সিয়াল সার্ভিস
                        একাউন্টটির ("SurePay একাউন্ট") ব্যবহারকারী হবেন।</p>
    
                    <p>বাংলাদেশের প্রচলিত আইন, বাংলাদেশ ব্যাংক ও অন্যান্য নিয়ন্ত্রণকারী কর্তৃপক্ষ কর্তৃক জারিকৃত মোবাইল
                        ফাইন্যান্সিয়াল সার্ভিস সরবরাহের জন্যে প্রযোজ্য বিধি, বিধান, নীতিমালা, সার্কুলার, এবং আদেশ/নির্দেশ
                        অনুযায়ী SurePay সেবা এবং SurePay একাউন্ট-এর লেনদেন/কার্যক্রম পরিচালিত হবে। SurePay গ্রাহক উক্ত বিধি,
                        বিধান, নীতিমালা, সার্কুলার প্রভৃতি মেনে চলতে বাধ্য থাকবেন।</p>
    
                    <p>প্রযোজ্য ক্ষেত্রে SurePay একাউন্ট নাম্বারটি (যা হচ্ছে সংশ্লিষ্ট SIM-এর MSISDN নাম্বার) SurePay সংক্রান্ত
                        সব রকম দলিলে/ফরমেসঠিকভাবে উল্লেখ করতে হবে। ভুল নাম্বার উল্লেখের কারণে কোনো রকম ক্ষয়-ক্ষতির জন্যে
                        SurePay কর্তৃপক্ষ দায়ী থাকবে না।</p>
    
                    <p>SurePay একাউন্ট-এ পর্যাপ্ত ব্যালেন্সের অভাবে লেনদেন সম্পন্ন না হলে তার জন্য SurePay দায়ী থাকবে না।</p>
    
                    <p>SurePay গ্রাহক কাউন্টার ত্যাগ করার পূর্বে তার উদ্দিষ্ট SurePay একাউন্ট-এ অথবা SurePay একাউন্ট থেকে যথাযথ
                        পরিমাণ ক্যাশ ইন/ক্যাশ আউট/পেমেন্ট ইত্যাদি সম্পন্ন হয়েছে কিনা সে ব্যাপারে নিশ্চিত হবেন। পরবর্তীতে
                        কোনো প্রকার অভিযোগ গ্রহণযোগ্য হবে না।</p>
    
                    <h4>SurePay স্টুডেন্ট একাউন্টের জন্য বিশেষ নিয়ম ও শর্তাবলি</h4>
    
                    <p>বৈধ ডিজিটাল জন্ম নিবন্ধন সনদ ও সক্রিয় সিম এর MSISDN নাম্বার ব্যবহার করে, এবং গ্রাহকের মা অথবা বাবার
                        অনুমতি নিয়ে (মা/বাবার সক্রিয় SurePay একাউন্ট থাকতে হবে), গ্রাহক (১৪-১৮ বছর বয়সের) সেলফ রেজিস্ট্রেশন
                        প্রক্রিয়া অনুসরণ করে SurePay একাউন্ট খুলতে পারে (অতঃপর SurePay স্টুডেন্ট একাউন্ট হিসেবে উল্লেখ করা
                        হয়েছে)।</p>
    
                    <p>SurePay স্টুডেন্ট একাউন্টে সীমিত SurePay সেবা পাওয়া যাবে যেমন ক্যাশ আউট, মোবাইল রিচার্জ, সেন্ড মানি,
                        রিসিভ মানি, পেমেন্ট ইত্যাদি। SurePay সময়ে সময়ে SurePay স্টুডেন্ট একাউন্টে থেকে এর সেবা যুক্ত করা অথবা
                        বাদ দেয়ার অধিকার সংরক্ষণ করে।</p>
    
                    <p>SurePay স্টুডেন্ট অ্যাকাউন্টের লেনদেনের লিমিট ও সংখ্যা সাধারণ SurePay অ্যাকাউন্ট থেকে ভিন্ন হবে।</p>
    
                    <p>SurePay স্টুডেন্ট একাউন্টধারী গ্রাহক SurePay অ্যাপ এবং *247# এর মাধ্যমে SurePay এর সেবাগুলো পেতে পারবেন।
                    </p>
    
                    <p>SurePay অ্যাপের মাধ্যমে SurePay স্টুডেন্ট একাউন্ট রেজিস্ট্রেশন করার সময়, অন্যান্য প্রয়োজনীয় তথ্যসহ,
                        গ্রাহককে তার মা/বাবার (এখন থেকে "অভিভাবক" হিসেবে উল্লেখ করা হবে), যেকোনো একজনের, বিস্তারিত তথ্য
                        প্রদান করতে হবে এবং মা/বাবার সম্মতি হিসেবে তার SurePay নাম্বারে পাঠানো ভেরিফিকেশন কোড প্রদান করতে হবে।
                    </p>
    
                    <p>প্রতিটি সাধারণ SurePay অ্যাকাউন্টের সাথে ৩ টি (তিনটি) পর্যন্ত SurePay স্টুডেন্ট একাউন্ট সংযুক্ত থাকতে
                        পারবে।</p>
    
                    <p>অভিভাবক SurePay স্টুডেন্ট একাউন্টের নমিনি হিসেবে বিবেচিত হবেন।</p>
    
                    <p>অভিভাবক SurePay স্টুডেন্ট একাউন্টের সকল লেনদেনের বিবরণী তার SurePay অ্যাপে দেখতে পারবেন ।</p>
    
                    <p>SurePay স্টুডেন্ট একাউন্ট খোলার জন্য অভিভাবকের স্থায়ী এবং বর্তমান ঠিকানা ব্যবহার করা হবে।</p>
    
                    <p>অভিভাবকের SurePay একাউন্ট বন্ধ করা যাবেনা যখন কোনো SurePay স্টুডেন্ট একাউন্ট যুক্ত থাকে। সেইসাথে কোনো
                        স্টুডেন্ট একাউন্ট বন্ধ করা যাবে না যদি ওই একাউন্টের সাথে কোনো অভিভাবকের SurePay একাউন্ট যুক্ত থাকে।
                    </p>
    
                    <p>গ্রাহকের দ্বারা যেকোনো অপরাধ / অন্যায়ের জন্য অভিভাবক দায়ী থাকবেন এবং অভিভাবকের বিরুদ্ধে যেকোনো আইনি
                        পদক্ষেপ সহ সমস্ত উপযুক্ত প্রতিকার নেওয়া হবে।</p>
    
                    <p>প্রদত্ত তথ্য যাচাই করতে এবং SurePay স্টুডেন্ট অ্যাকাউন্টের রেজিস্ট্রেশন প্রক্রিয়া সম্পূর্ণ করতে SurePay
                        সম্ভাব্য গ্রাহকের জন্ম নিবন্ধন সনদে উল্লিখিত তথ্য তৃতীয় পক্ষের সাথে শেয়ার করবে।</p>
    
                    <div class="terms-footer">
                        <p>আমি এই মর্মে নিশ্চিত করছি যে, SurePay লিমিটেড –এর মোবাইল ফাইন্যান্সিয়াল সার্ভিসেস-এর একজন গ্রাহক
                            হবার জন্য একাউন্ট খোলা, রক্ষণাবেক্ষণ এবং পরিচালনার সাথে সম্পর্কিত সকল নিয়ম এবং উপরে উল্লিখিত
                            শর্তাবলি আমি পড়েছি, বুঝেছি এবং মেনে চলার অঙ্গীকার করছি।</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Offer Details Popup HTML -->
    <div id="offer-popup" class="popup-container">
        <div class="popup-content">
            <div class="popup-header">
                <h2>১৩০ টাকা পর্যন্ত ক্যাশব্যাক স্টুডেন্ট একাউন্টে, SurePay অ্যাপ থেকে লেনদেন করে!</h2>
                <button class="popup-close" id="offer-popup-close">&times;</button>
            </div>
            <div class="popup-body">
                <div class="offer-content">
                    <p>SurePay-এর দারুণ সব সার্ভিস ব্যবহার করতে এখনই SurePay অ্যাপ থেকে মাত্র এক মিনিটেই খুলুন স্টুডেন্ট
                        একাউন্ট! সেইসাথে উপভোগ করুন ১৩০ টাকা পর্যন্ত ক্যাশব্যাক!</p>
    
                    <h3>অফারের বিস্তারিত</h3>
    
                    <div class="table-container">
                        <table class="offer-table">
                            <thead>
                                <tr>
                                    <th>শর্তাবলি</th>
                                    <th>ক্যাশব্যাক</th>
                                    <th>সময়সীমা</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>অ্যাপের মাধ্যমে একাউন্ট খুলে মিন ২৫ টাকা কোড ভেরি লাইভ হওয়ার(একাউন্ট খোলার ৭২
                                        ঘণ্টার মধ্যে),লাইভ হওয়ার</td>
                                    <td>২৫ টাকা</td>
                                    <td>১ জানুয়ারি থেকে ৩১ মার্চ, ২০২৫ পর্যন্ত</td>
                                </tr>
                                <tr>
                                    <td>অ্যাপ থেকে প্রথমবার যেকোনো অ্যামাউন্ট মোবাইল রিচার্জ করলে</td>
                                    <td>২৫ টাকা</td>
                                    <td>১ জানুয়ারি থেকে ৩১ মার্চ, ২০২৫ পর্যন্ত</td>
                                </tr>
                                <tr>
                                    <td colspan="3" class="section-header">প্রথমবার রিচার্জ করার পর চেক পয়েন্টে</td>
                                </tr>
                                <tr>
                                    <td>৫০ টাকা বা বেশি মোবাইল রিচার্জে</td>
                                    <td>১৫ টাকা</td>
                                    <td>প্রথমবার অ্যাপে এসে মোবাইল রিচার্জ করার দিন থেকে প্রথম ৩০ দিন পর্যন্ত</td>
                                </tr>
                                <tr>
                                    <td>১০০ টাকা বা বেশি পেমেন্টে</td>
                                    <td>১০ টাকা</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>১০০ টাকা বা বেশি বিলিং করলে</td>
                                    <td>১৫ টাকা</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="3" class="section-header">প্রথমবার রিচার্জ করার পর পরবর্তী মাসে</td>
                                </tr>
                                <tr>
                                    <td>৫০ টাকা বা বেশি মোবাইল রিচার্জে</td>
                                    <td>১৫ টাকা</td>
                                    <td>রিচার্জ করার দিন থেকে প্রথম ৩০ দিন শেষ হওয়ার পর পরবর্তী ৩০ দিন পর্যন্ত</td>
                                </tr>
                                <tr>
                                    <td>১০০ টাকা বা বেশি পেমেন্টে</td>
                                    <td>১০ টাকা</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>১০০ টাকা বা বেশি বিলিং করলে</td>
                                    <td>১৫ টাকা</td>
                                    <td></td>
                                </tr>
                                <tr class="total-row">
                                    <td>মোট ক্যাশব্যাকের পরিমাণ</td>
                                    <td>১৩০ টাকা</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
    
                    <ul class="bullet-points">
                        <li>SurePay অ্যাপ থেকে একাউন্ট খুলে ৭২ ঘণ্টার মধ্যে ভেরি কোড করে প্রথমবার অ্যাপে লাইভ হওয়ার নতুন
                            স্টুডেন্ট একাউন্টের গ্রাহক ২৫ টাকা ইনস্ট্যান্ট ক্যাশব্যাক পাবেন।</li>
                        <li>একাউন্ট খোলার পর অ্যাপে লাইভ করে অ্যাপ থেকে প্রথম সেনদেন হিসেবে যেকোনো মোবাইল নাম্বারে যেকোনো
                            অ্যামাউন্টে রিচার্জ করলে নতুন স্টুডেন্ট একাউন্টের গ্রাহক আরো ২৫ টাকা ইনস্ট্যান্ট ক্যাশব্যাক
                            পাবেন।</li>
                        <li>স্টুডেন্ট একাউন্টের গ্রাহক SurePay অ্যাপ থেকে প্রথমবার লেনদেন করার মাধ্যমে তার একাউন্ট সক্রিয়
                            করার পর যেসকল অফারে অংশগ্রহণ করতে পারবেন:</li>
                        <li>প্রথমবার লেনদেন করার দিন থেকে পরবর্তী ৩০ দিন পর্যন্ত গ্রাহক নিম্নে লেনদেন করে স্পেশাল অফারে
                            অংশগ্রহণ নিতে পারবেন।</li>
                        <li>যে সকল স্টুডেন্ট একাউন্টের গ্রাহক ৩১ মার্চ, ২০২৫-এ আগের একাউন্ট সক্রিয় করেছে, তারা ৩০ এপ্রিল,
                            ২০২৫ পর্যন্ত স্পেশাল অফার এবং ম্যাথমাস অফারে অংশগ্রহণ উপভোগ করতে পারবেন।</li>
                    </ul>
    
                    <p class="note">**গ্রাহক মাত্র তিন মাসের পরপরই ২ মাসের স্পেশাল অফারে অংশগ্রহ করলে অফার সকল অ্যাকাউন্টে
                        'স্পেশাল অফার' সেকশন থেকে চেক করতে পারবেন।</p>
    
                    <h3>শর্তাবলি</h3>
    
                    <ol class="terms-list">
                        <li>যে সকল স্টুডেন্ট একাউন্টের গ্রাহক অ্যাপের মাধ্যমে ভেরি কোড করে অ্যাপে লাইভ হয়েছেন (একাউন্ট
                            খোলার ৭২ ঘণ্টার মধ্যে) তারা ইনস্ট্যান্ট ক্যাশব্যাক পাবেন এবং অ্যাপে লাইভ হবার প্রথমবার অ্যাপ
                            থেকে মোবাইল রিচার্জ করলে আবারো ইনস্ট্যান্ট ক্যাশব্যাক পাবেন।</li>
                        <li>একবার গ্রাহকের SurePay অ্যাপ সক্রিয় হয়ে গেলে গ্রাহক স্পেশাল অফারে অংশগ্রহণ হয়ে পরবর্তী ৬০ দিন
                            পর্যন্ত নির্দিষ্ট লেনদেনগুলো করে ক্যাশব্যাক পেতে পারবেন।</li>
                        <li>ভেরি কোড, লাইভ ও প্রথমবার মোবাইল রিচার্জের ক্যাশব্যাক মাত্রই অনুমোদনের সময়সীমা ও কার্যকরীতার
                            মধ্যে গ্রাহকের SurePay একাউন্টে জমা করা হবে।</li>
                        <li>উপযুক্ত গ্রাহক উল্লিখিত সকল লেনদেন করে ১৩০ টাকা পর্যন্ত ক্যাশব্যাক পেতে পারবেন।</li>
                        <li>গ্রাহক একাউন্ট স্ট্যাটাস সক্রিয় থাকা এবং সময়মাফিক লেনদেন সম্পন্ন হওয়া সাপেক্ষে যেকোনো গ্রাহক
                            ক্যাশব্যাক পাওয়ার জন্য নির্বাচিত হবেন। যদি একাউন্ট স্ট্যাটাসটি সময়মতো সক্রিয় ক্যাশব্যাক বিতরণ
                            সম্ভব না হয়, সেক্ষেত্রে গ্রাহক এই ক্যাম্পেইনের জন্য আর বিবেচিত হবেন না।</li>
                        <li>ক্যাশব্যাক তাৎক্ষণিক নির্দিষ্ট মানি থেকে সকল ট্রানজেকশন সম্পূর্ণ মিটিয়ে হবে হবে। অন্য SurePay
                            গ্রাহকের SurePay অ্যাপ থেকে মানি সেন্ট করার ক্ষেত্রে অগ্রাধিকার প্রযোজ্য।</li>
                        <li>SurePay যেকোনো পূর্বঘোষণা ছাড়াই যেকোনো সময়ের অফারের নিয়ম ও শর্তাবলি পরিবর্তন/সংশোধন বা বাতিলের
                            সময়সম্পূর্ণ ক্যাম্পেইন বাতিল করার অধিকার সংরক্ষণ করে।</li>
                        <li>ক্যাশব্যাক ক্যাম্পেইনে একজন গ্রাহক প্রতিটি লেনদেনের জন্য একবার করে ক্যাশব্যাক পাবেন।</li>
                        <li>সুবিধা SurePay গ্রাহক যেকোনো মোবাইল নাম্বারে (উইপ্যাড/পোস্টপেইড/স্কিম) রিচার্জ করতে ক্যাশব্যাক
                            পাবেন।</li>
                        <li>প্রথমবার SurePay অ্যাপে এসে লেনদেন করার পর গ্রাহক স্পেশাল অফারে অংশগ্রহণ করেছি অর্থাৎ সম্পর্কিত
                            তথ্য 'স্পেশাল অফার' সেকশন চ্যাপ করে চেকতে পারবেন এবং সরাসরি অফার নিতে পারবেন।</li>
                        <li>যদি কোনো গ্রাহক এমন একটি একাউন্ট ব্যবহার করেন যা ৯ মে, ২০২৩ - ০০০০ সময়ের আগে রিলিজেশন করা
                            হয়েছে এবং একাউন্টে পূর্বে গ্রাহক দ্বারা SurePay অ্যাপ ব্যবহার করা হয়েছে তবে নতুন গ্রাহক
                            ক্যাম্পেইনের ক্যাশব্যাকের জন্য নির্বাচিত হবেন না।</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>


    <!-- FAQ Popup HTML -->
    <div id="faq-popup" class="popup-container">
        <div class="popup-content">
            <div class="popup-header">
                <h2>SurePay স্টুডেন্ট একাউন্ট সাধারণ জিজ্ঞাসা</h2>
                <button class="popup-close" id="faq-popup-close">&times;</button>
            </div>
            <div class="popup-body">
                <div class="faq-content">
                    <div class="faq-item">
                        <div class="faq-question">
                            <span class="question-number">1.</span> SurePay স্টুডেন্ট একাউন্ট ("স্টুডেন্ট একাউন্ট")-এর যোগ্যতা
                            কী?
                        </div>
                        <div class="faq-answer">
                            <span class="answer-label">উত্তরঃ</span> একজন অভিভাবকের সম্মতিতে ১৪ বছর থেকে ১৮ বছরের কম বয়সী
                            (১৭ বছর, ১১ মাস এবং ৩০ দিন) প্রাপ্তরা "স্টুডেন্ট একাউন্ট" খুলতে পারেন। এটি শিক্ষার্থীদের জন্য
                            একটি বিশেষ ধরনের SurePay একাউন্ট। "স্টুডেন্ট একাউন্টের লেনদেনের সীমা সাধারণ বিকাশ একাউন্টের চেয়ে
                            কম এবং সাধারণ SurePay একাউন্টের তুলনায় এই একাউন্ট সীমিত পরিষেবা সম্বলিত। "স্টুডেন্ট একাউন্ট"
                            খুলতে ডিজিটাল জন্ম সনদ নিজের কাছে থাকা দরকার।
                        </div>
                    </div>
    
                    <div class="faq-item">
                        <div class="faq-question">
                            <span class="question-number">2.</span> স্টুডেন্ট একাউন্টের বয়সসীমা কত?
                        </div>
                        <div class="faq-answer">
                            <span class="answer-label">উত্তরঃ</span> "স্টুডেন্ট একাউন্টের বয়সসীমা ১৪ বছর থেকে ১৮ বছরের নিচে
                            (১৭ বছর, ১১ মাস এবং ৩০ দিন)
                        </div>
                    </div>
    
                    <div class="faq-item">
                        <div class="faq-question">
                            <span class="question-number">3.</span> স্টুডেন্ট একাউন্ট রেজিস্ট্রেশনের জন্য কোন আইডেন্টিফিকেশন
                            ডকুমেন্ট প্রয়োজন?
                        </div>
                        <div class="faq-answer">
                            <span class="answer-label">উত্তরঃ</span> স্টুডেন্ট একাউন্ট রেজিস্ট্রেশনের জন্য শুধুমাত্র ডিজিটাল
                            জন্ম সনদ প্রয়োজন।
                        </div>
                    </div>
    
                    <div class="faq-item">
                        <div class="faq-question">
                            <span class="question-number">4.</span> স্টুডেন্ট SurePay একাউন্ট কি সাধারণ SurePay আ্যাকাউন্টে
                            রূপান্তর করা যায়?
                        </div>
                        <div class="faq-answer">
                            <span class="answer-label">উত্তরঃ</span> SurePay সিস্টেমে এই ধরনের একাউন্ট টাইপ পরিবর্তন পরিষেবা
                            চালু করতে পারে।
                        </div>
                    </div>
    
                    <div class="faq-item">
                        <div class="faq-question">
                            <span class="question-number">5.</span> বাবা/মা কিভাবে সম্মতি প্রদান করবেন?
                        </div>
                        <div class="faq-answer">
                            <span class="answer-label">উত্তরঃ</span> অভিভাবকের (বাবা/মা -এর) সক্রিয় SurePay একাউন্ট থাকলে
                            একটি ভেরিফিকেশন কোড পাঠানো হবে। বাবা/মা "স্টুডেন্ট আবেদনে ভেরিফিকেশন কোড প্রদান করে তার সম্মতি
                            প্রদান করবেন। যদি ৭২ ঘণ্টার মধ্যে ভেরিফিকেশন কোড প্রদান করা না হয়, তাহলে রেজিস্ট্রেশন সম্পূর্ণ
                            হবেনা এবং স্টুডেন্টকে রেজিস্ট্রেশন জন্য পুনরায় আবেদন করতে হবে।
                        </div>
                    </div>
    
                    <div class="faq-item">
                        <div class="faq-question">
                            <span class="question-number">6.</span> বাবা/মা কি নিজাইদি একাউন্টের লেনদেন সম্পর্কে জানতে
                            পারবেন?
                        </div>
                        <div class="faq-answer">
                            <span class="answer-label">উত্তরঃ</span> বাবা/মা তার নিজের SurePay অ্যাপ থেকে স্টুডেন্ট একাউন্টের
                            লেনদেন দেখতে পারবেন।
                        </div>
                    </div>
    
                    <div class="faq-item">
                        <div class="faq-question">
                            <span class="question-number">7.</span> কোন ধরনের জন্ম সনদ ব্যবহার করে স্টুডেন্ট একাউন্ট
                            রেজিস্ট্রেশন করা যাবে?
                        </div>
                        <div class="faq-answer">
                            <span class="answer-label">উত্তরঃ</span> বর্তমানে নিম্নলিখিত জন্ম সনদ ব্যবহার করা যাবেঃ
                            <ol class="numbered-list">
                                <li>BDR ফরম ৩</li>
                                <li>CC BDR ফরম ১</li>
                                <li>UPBDR ফরম ৩</li>
                                <li>UPI/OMNI ফর্ম ৩</li>
                                <li>https://everify.bdris.gov.bd/ থেকে প্রিন্ট করানো</li>
                            </ol>
                        </div>
                    </div>
    
                    <div class="faq-item">
                        <div class="faq-question">
                            <span class="question-number">8.</span> প্রাহকের জন্ম সনদ অনুমোদিত না হলে কী করবেন?
                        </div>
                        <div class="faq-answer">
                            <span class="answer-label">উত্তরঃ</span> গ্রাহক জন্ম সনদের সরকারি সাইট ভিজিট করতে পারবেন এবং
                            সেখান থেকে একটি ডিজিটাল কপি তৈরি করে প্রিন্ট করতে পারবেন।<br>
                            সরকারি সাইট URL: https://everify.bdris.gov.bd/
                        </div>
                    </div>
    
                    <div class="faq-item">
                        <div class="faq-question">
                            <span class="question-number">9.</span> বাংলাদেশের বাহিরে কি স্টুডেন্ট একাউন্ট ব্যবহার করা যাবে?
                        </div>
                        <div class="faq-answer">
                            <span class="answer-label">উত্তরঃ</span> না
                        </div>
                    </div>
    
                    <div class="faq-item">
                        <div class="faq-question">
                            <span class="question-number">10.</span> একটি স্টুডেন্ট একাউন্টে কি দাদা/নানা যুক্ত করা যায়?
                        </div>
                        <div class="faq-answer">
                            <span class="answer-label">উত্তরঃ</span> না। শিক্ষার্থীর বাবা/মা (যিনি স্টুডেন্ট একাউন্ট
                            রেজিস্ট্রেশন করার সম্মতি প্রদান করেছেন) ডিফল্ট সম্মতি হিসেবে মনোনীত হবেন।
                        </div>
                    </div>
    
                    <div class="faq-item">
                        <div class="faq-question">
                            <span class="question-number">11.</span> স্টুডেন্ট কি "তথ্য হালনাগাদ" করতে পারবে?
                        </div>
                        <div class="faq-answer">
                            <span class="answer-label">উত্তরঃ</span> এই পরিষেবাটি বর্তমানে স্টুডেন্ট আবেদনকারী জন্য
                            উপলব্ধ/প্রযোজ্য নয়।
                        </div>
                    </div>
    
                    <div class="faq-item">
                        <div class="faq-question">
                            <span class="question-number">12.</span> অভিভাবকের কি একটি সক্রিয় SurePay একাউন্ট থাকা দরকার?
                        </div>
                        <div class="faq-answer">
                            <span class="answer-label">উত্তরঃ</span> হ্যাঁ
                        </div>
                    </div>
    
                    <div class="faq-item">
                        <div class="faq-question">
                            <span class="question-number">13.</span> একজন জাতীয় পরিচয়পত্র ধারক কি স্টুডেন্ট একাউন্টের জন্য
                            রেজিস্ট্রেশন করতে পারবেন?
                        </div>
                        <div class="faq-answer">
                            <span class="answer-label">উত্তরঃ</span> এই পর্যন্ত শুধুমাত্র ডিজিটাল জন্ম সনদ দিয়ে একটি
                            স্টুডেন্ট একাউন্ট খোলা যায়। যদি কোনো ব্যক্তির জাতীয় পরিচয়পত্র থাকে, তবে তিনি রেগুলার SurePay
                            একাউন্টের জন্য রেজিস্ট্রেশন করতে পারবেন।
                        </div>
                    </div>
    
                    <div class="faq-item">
                        <div class="faq-question">
                            <span class="question-number">14.</span> যদি ১৪-১৮ বছর বয়সী ব্যক্তি একাউন্ট খোলার জন্য জাতীয়
                            পরিচয়পত্র নির্বাচন করে তখন কি হবে?
                        </div>
                        <div class="faq-answer">
                            <span class="answer-label">উত্তরঃ</span> যদি গ্রাহকের জাতীয় পরিচয়পত্র থাকে, তবে তিনি সাধারণ
                            SurePay একাউন্টের জন্য রেজিস্ট্রেশন করতে পারবেন।
                        </div>
                    </div>
    
                    <div class="faq-item">
                        <div class="faq-question">
                            <span class="question-number">15.</span> ১৮ বছরের বেশি বয়সী ব্যক্তি কি SurePay একাউন্ট খোলার জন্য
                            জন্ম সনদ সিলেক্ট করতে পারবেন?
                        </div>
                        <div class="faq-answer">
                            <span class="answer-label">উত্তরঃ</span> ১৮ বছরের বেশি বয়সী গ্রাহক SurePay অ্যাপ থেকে জন্ম সনদ
                            দিয়ে SurePay একাউন্ট খুলতে পারবেননা।
                        </div>
                    </div>
    
                    <div class="faq-item">
                        <div class="faq-question">
                            <span class="question-number">16.</span> "ডিজিটাল জন্ম সনদ" কী?
                        </div>
                        <div class="faq-answer">
                            <span class="answer-label">উত্তরঃ</span> ডিজিটাল জন্ম সনদ হল জন্ম সনদের একটি ডিজিটাল করা ফর্ম যা
                            নির্দিষ্ট সরকারি অনুমোদিত ফরমে প্রাপ্ত এবং যা হাতে লিখিত জন্ম সনদ নয়।
                        </div>
                    </div>
    
                    <div class="faq-item">
                        <div class="faq-question">
                            <span class="question-number">17.</span> একটি স্টুডেন্ট একাউন্টের জন্য লিমিট কী?
                        </div>
                        <div class="faq-answer">
                            <span class="answer-label">উত্তরঃ</span>
                            <div class="table-container">
                                <table class="limits-table">
                                    <thead>
                                        <tr>
                                            <th rowspan="2">লেনদেনের ধরণ</th>
                                            <th colspan="2">স্টুডেন্ট একাউন্ট</th>
                                        </tr>
                                        <tr>
                                            <th>দৈনিক (সংখ্যা)</th>
                                            <th>মাসিক (সংখ্যা)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>ক্যাশ আউট [এজেন্ট/এটিএম]</td>
                                            <td>5,000</td>
                                            <td>25,000</td>
                                        </tr>
                                        <tr>
                                            <td>মোবাইল রিচার্জ</td>
                                            <td>2,500</td>
                                            <td>5,000</td>
                                        </tr>
                                        <tr>
                                            <td>সেন্ড মানি</td>
                                            <td>5,000</td>
                                            <td>15,000</td>
                                        </tr>
                                        <tr>
                                            <td>পেমেন্ট (মার্চেন্ট পেমেন্ট, এডুকেশন পেমেন্ট, সে বিল, ক্রেডিট কার্ড বিল
                                                পেমেন্ট, মাইক্রোফাইন্যান্স পেমেন্ট)</td>
                                            <td>5,000</td>
                                            <td>20,000</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
    
                            <div class="table-container">
                                <table class="limits-table">
                                    <thead>
                                        <tr>
                                            <th>লেনদেনের ধরণ</th>
                                            <th>স্টুডেন্ট একাউন্ট</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>ক্যাশ আউট [এজেন্ট/এটিএম]</td>
                                            <td>5</td>
                                            <td>10</td>
                                        </tr>
                                        <tr>
                                            <td>মোবাইল রিচার্জ</td>
                                            <td>50</td>
                                            <td>100</td>
                                        </tr>
                                        <tr>
                                            <td>সেন্ড মানি</td>
                                            <td>5</td>
                                            <td>10</td>
                                        </tr>
                                        <tr>
                                            <td>পেমেন্ট (মার্চেন্ট পেমেন্ট, এডুকেশন পেমেন্ট, সে বিল, ক্রেডিট কার্ড বিল
                                                পেমেন্ট, মাইক্রোফাইন্যান্স পেমেন্ট)</td>
                                            <td>3</td>
                                            <td>10</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
    
                    <div class="faq-item">
                        <div class="faq-question">
                            <span class="question-number">18.</span> গ্রাহকের ১৮ বছর হলে স্টুডেন্ট একাউন্ট কী হবে?
                        </div>
                        <div class="faq-answer">
                            <span class="answer-label">উত্তরঃ</span> গ্রাহক একাউন্টটি চালিয়ে যেতে পারবেন, তবে রেগুলার
                            একাউন্টের ন্যায়সঙ্গত সেবাসমূহ ব্যবহার করতে পারবে না।
                        </div>
                    </div>
    
                    <div class="faq-item">
                        <div class="faq-question">
                            <span class="question-number">19.</span> একজন বাবা/মা কি একাধিক স্টুডেন্ট একাউন্ট রেজিস্ট্রেশন
                            করার সম্মতি প্রদান করতে পারবেন?
                        </div>
                        <div class="faq-answer">
                            <span class="answer-label">উত্তরঃ</span> হ্যাঁ, একটি রেগুলার SurePay একাউন্ট সর্বোচ্চ ৩টি
                            স্টুডেন্ট একাউন্ট রেজিস্ট্রেশন করার জন্য সম্মতি দিতে পারবেন।
                        </div>
                    </div>
    
                    <div class="faq-item">
                        <div class="faq-question">
                            <span class="question-number">20.</span> আমি মাতা/পিতা সম্মতি হিসেবে জন্য ভেরিফিকেশন কোড দিতে কী
                            হবে?
                        </div>
                        <div class="faq-answer">
                            <span class="answer-label">উত্তরঃ</span> একজন "স্টুডেন্ট একাউন্ট" আবেদনকারী ৭২ ঘণ্টার মধ্যে ৪
                            ঘরে বাবা/মা -এর সম্মতি হিসেবে ভেরিফিকেশন কোড দিতে পারবেন। ভেরিফিকেশন কোড ১২০ সেকেন্ড (২ মিনিট)
                            ব্যবহারের যুগ্যতা পাওয়া যেতে পারে এবং অনুরোধ গ্রাহককে ২৪ ঘণ্টা অপেক্ষা করতে হবে। দয়াযার মাধার
                            ১২০ সেকেন্ডের ব্যবহারযোগ্যতা।<br>
                            যুগ্য ভুল ভেরিফিকেশন কোড প্রদান করালে গ্রাহকের ২৪ ঘণ্টা অপেক্ষাকরার আবার ইনপুট কোড থেকে বের হয়ে
                            যাবে।
                        </div>
                    </div>
    
                    <div class="faq-item">
                        <div class="faq-question">
                            <span class="question-number">21.</span> আমি কি নিকটের আমার জন্ম নিবন্ধন সনদের ছবি তুলতে ইমেইল
                            করতে পারব?
                        </div>
                        <div class="faq-answer">
                            <span class="answer-label">উত্তরঃ</span> প্রয়োজনে আপনি জন্ম নিবন্ধন সনদের ছবি তুলতে পারবেন।
                        </div>
                    </div>
    
                    <div class="faq-item">
                        <div class="faq-question">
                            <span class="question-number">22.</span> আমি কি SurePay অ্যাপ ছাড়া স্টুডেন্ট একাউন্ট খুলতে পারি?
                        </div>
                        <div class="faq-answer">
                            <span class="answer-label">উত্তরঃ</span> বর্তমানে শুধুমাত্র SurePay অ্যাপের মাধ্যমে স্টুডেন্ট
                            একাউন্ট খোলা যায়।
                        </div>
                    </div>
    
                    <div class="faq-item">
                        <div class="faq-question">
                            <span class="question-number">23.</span> আমি কিভাবে আমার SurePay স্টুডেন্ট একাউন্ট বন্ধ করবো?
                        </div>
                        <div class="faq-answer">
                            <span class="answer-label">উত্তরঃ</span> যেকোনো স্টুডেন্ট SurePay একাউন্ট বুঝ থাকলে বাবা/মা নিজের
                            SurePay একাউন্ট বন্ধ করতে পারবেন না । এই পরিস্থিতি স্টুডেন্ট SurePay একাউন্টের জন্যও প্রযোজ্য।
                        </div>
                    </div>
    
                    <div class="faq-item">
                        <div class="faq-question">
                            <span class="question-number">24.</span> আমি কি বাবা/মার সম্মতি ছাড়া একটি স্টুডেন্ট একাউন্ট
                            খুলতে পারি?
                        </div>
                        <div class="faq-answer">
                            <span class="answer-label">উত্তরঃ</span> না, বর্তমানে স্টুডেন্ট একাউন্টের আবেদনকারীর বাবা/মার
                            সম্মতি ছাড়া অন্য কোনো সম্মতি নিয়ে একটি স্টুডেন্ট একাউন্ট খোলার সুযোগ নেই।
                        </div>
                    </div>
    
                    <div class="faq-item">
                        <div class="faq-question">
                            <span class="question-number">25.</span> স্টুডেন্ট SurePay আ্যাকাউন্টের একাউন্টের সাথে সম্পর্কিত
                            কোনো ফি আছে?
                        </div>
                        <div class="faq-answer">
                            <span class="answer-label">উত্তরঃ</span> স্টুডেন্ট SurePay একাউন্ট রেজিস্ট্রেশন/খুলতে কোন চার্জ
                            নেই।
                        </div>
                    </div>
    
                    <div class="faq-item">
                        <div class="faq-question">
                            <span class="question-number">26.</span> স্টুডেন্ট একাউন্ট খুলতে আমার কি কি ডকুমেন্ট লাগবে?
                        </div>
                        <div class="faq-answer">
                            <span class="answer-label">উত্তরঃ</span> একটি স্টুডেন্ট একাউন্ট খুলতে গ্রাহকের ডিজিটাল জন্ম
                            সনদের একটি কপি এবং তার বাবা/মার (যার অবশ্যই একটি সক্রিয় SurePay একাউন্ট থাকতে হবে) থেকে সম্মতি
                            প্রয়োজন।
                        </div>
                    </div>
    
                    <div class="faq-item">
                        <div class="faq-question">
                            <span class="question-number">27.</span> একজন বাবা/মা কি স্টুডেন্ট একাউন্টের ব্যালেন্স আগোচরে বা
                            থামানো করতে পারবেন?
                        </div>
                        <div class="faq-answer">
                            <span class="answer-label">উত্তরঃ</span> না, বাবা/মা শুধুমাত্র তাদের নিজের SurePay অ্যাপ থেকে
                            স্টুডেন্ট একাউন্টের লেনদেন দেখতে পারবেন।
                        </div>
                    </div>
    
                    <div class="faq-item">
                        <div class="faq-question">
                            <span class="question-number">28.</span> স্টুডেন্ট একাউন্টে সর্বোচ্চ কত টাকা রাখাযেতে পারে?
                        </div>
                        <div class="faq-answer">
                            <span class="answer-label">উত্তরঃ</span> স্টুডেন্ট একাউন্টে সর্বোচ্চ ৫০,০০০ টাকা ব্যালেন্স রাখা
                            যায়।
                        </div>
                    </div>
    
                    <div class="faq-item">
                        <div class="faq-question">
                            <span class="question-number">29.</span> আমি কি নিজ মাসের সেন্ড মানি ফিচারটি ব্যবহার করতে পারব?
                        </div>
                        <div class="faq-answer">
                            <span class="answer-label">উত্তরঃ</span> হ্যাঁ, স্টুডেন্ট একাউন্টের গ্রাহকরা নিজ মাসের সেন্ড
                            মানি ফিচারটি ব্যবহার করতে পারবেন। SurePay স্টুডেন্ট একাউন্টে একটি ব্যালেন্সের সাথে সেন্ড মানির
                            বিশেষটি SurePay একাউন্ট ব্যাতে [?] বা একটি নতুন SurePay নাম্বারে সেন্ড করতে পারবেন।
                        </div>
                    </div>
    
                    <div class="faq-item">
                        <div class="faq-question">
                            <span class="question-number">30.</span> কিভাবে স্টুডেন্ট একাউন্ট থেকে সেন্ড মানি ফিচারটি কোথা
                            থেকে আসবে?
                        </div>
                        <div class="faq-answer">
                            <span class="answer-label">উত্তরঃ</span> যদি একাউন্টে টাকা ১৫,০০০ টাকা বা তার বেশি থাকে তবে আপনি
                            একটি একাউন্ট হতে দৈনিক সর্বোচ্চ পাঁচ বার অর্থ প্রেরণ করতে পারেন।
                        </div>
                    </div>
    
                    <div class="faq-item">
                        <div class="faq-question">
                            <span class="question-number">31.</span> আমি কিভাবে আমার নিজ মাসের সেন্ড মানি লেনদেন দৈনিক লিমিট
                            বাড়াতে পারব?
                        </div>
                        <div class="faq-answer">
                            <span class="answer-label">উত্তরঃ</span> যেহেতু আপনার একাউন্ট টি একটি স্টুডেন্ট একাউন্ট তাই আপনি
                            দৈনিক একটি নির্দিষ্ট লিমিট ব্যবহার করতে পারেন এবং এই লিমিট ট্রেসেকশল লিমিটে বাড়ানো সম্ভব। আপনি
                            মাসিক ১০ বার লিমিট ব্যবহার করতে পারবেন।
                        </div>
                    </div>
    
                    <div class="faq-item">
                        <div class="faq-question">
                            <span class="question-number">32.</span> কিভাবে টাকা সেন্ড করে সেন্ড মানি ফিচারটি ব্যবহার করব?
                        </div>
                        <div class="faq-answer">
                            <span class="answer-label">উত্তরঃ</span> স্টুডেন্ট একাউন্টের গ্রাহকরা দিন প্রতি একটি ক্ষুদ্র
                            সেন্ড মানি ফিচারটি ব্যবহার করতে পারবেন। স্টুডেন্ট একাউন্টের মাসিক সেন্ড মানি লিমিট ৫,০০০ টাকা
                            এবং দৈনিক ৫ বার অপারেশনের সাথে দৈনিক সর্বোচ্চ ১,৫০০ টাকা। প্রতি ট্রানজেকশন এ আপনি সর্বনিন্ম ১০
                            টাকা, সর্বোচ্চ ১,০০০ টাকা পর্যন্ত সেন্ড করতে পারেন।
                        </div>
                    </div>
    
                    <div class="faq-item">
                        <div class="faq-question">
                            <span class="question-number">33.</span> কিভাবে সেন্ড মানি ফিচার কোথা থেকে আসবে?
                        </div>
                        <div class="faq-answer">
                            <span class="answer-label">উত্তরঃ</span> SurePay স্টুডেন্ট অ্যাপে এলে সম্মিলিত মেনুতে ১.৫% চার্জ
                            প্রাপ্য হাবেন। ১.৫%, সর্বনিন্ম ৳৪ প্রতি ট্রানজেকশন। যেমন, আমি ১,০০০ টাকা পাঠিয়েছি। চার্জ
                            সর্বনিন্ম ৪ টাকা, মানে ১% এর কম। ১,০০০ টাকার ১.৫% চার্জ হল ১৫ টাকা, যা ৪ টাকা থেকে বেশি হওয়ায়
                            ১৫ টাকা চার্জ করা হবে। আপনি এগিয়ে যাবার আগে ফিস পরিমাণ দেখে নিতে পারেন, যেন কোন সমস্যা না
                            হয়।<br>
                            গ্রাহকের চার্জ ৩০০ টাকা পাঠানোর জন্য: SurePay অ্যাপের সেন্ড মানি সেকশনে গিয়ে একাউন্ট নাম্বার,
                            পরিমাণ এবং রেফারেন্স দিয়ে পেমেন্ট করতে পারবেন।
                        </div>
                    </div>
    
                    <div class="faq-item">
                        <div class="faq-question">
                            <span class="question-number">34.</span> পাঠানোর জন্য আমি কত টাকা চার্জ করতে পারব?
                        </div>
                        <div class="faq-answer">
                            <span class="answer-label">উত্তরঃ</span> আপনি SurePay অ্যাপের সেন্ড মানি ফিচারে কোথা থেকে ১০,০০০
                            টাকা পর্যন্ত পাঠাতে পারবেন।
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/public/JS/studentJS.js"></script>
</body>

</html>